<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="background-color: antiquewhite ">
<ul style=" list-style: none; ">

        <li style=" float:left; margin: 5px;" ><a href="{% url 'admin:index' %}">admin</a></li>
    <li style=" float:left; margin: 5px;" ><a href="{% url 'index' %}">index</a></li>
    <li style=" float:left; margin: 5px;"><a href="{% url 'bookform' %}">bookform</a></li>
    <li style=" float:left; margin: 5px;"><a href="{% url 'register' %}">register</a></li>
    {% if user.is_authenticated %}

        <li style=" float:left; margin: 5px;"><a href="{% url 'logout' %}">logout</a></li>
    {% else  %}
        <li style=" float:left; margin: 5px;"><a href="{% url 'login' %}">login</a></li>
    {% endif %}
</ul><br></div>
{% block body_block %}

{% endblock %}
</body>
</html>